<div ng-controller='PokemonController'>
  <div ng-repeat='poke in pokemon'>
    <div>{{ poke.name }}</div>
    <div>{{ poke.types }}</div>
    <div>{{ poke.imgUrl }}</div>
  </div>

  <h3>Filter Pokemon by Type!</h3>
  <!-- as user types, filter pokemon displayed. Eventually, combine filter function with the display of all Pokemon above -->
  <!-- another way to do it is by select dropdown, w/ type options set w/ ng-repeat -->
<!--   <select ng-change=''></select> -->
<input ng-model='search'>
  <div ng-repeat='poke in pokemon | filter:search'>
    <div>{{ poke.name }}</div>
    <div>{{ poke.types }}</div>
    <div>{{ poke.imgUrl }}</div>
  </div>

<!-- Add a pokemon by filling in the input fields. each one should be added to the newPoke object on the $scope. on button submit, call controller method createPokemon -->
  <h3>Add a Pokemon!</h3>
  <h6>Name</h6>
  <input ng-model='newPoke.name'>
  <h6>Type</h6>
  <input ng-model='newPoke.type'>
  <h6>imgUrl</h6>
  <input ng-model='newPoke.imgUrl'>
  <h6>Number</h6>
  <input ng-model='newPoke.number'>
  <div>{{newPoke.name}}</div>
  <button ng-click='createPokemon(newPoke)'>Add</button>
</div>




<!-- ng-repeat='name in poke.types' -->